*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #ffffff;
}



.link {
    text-decoration: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
}



.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
p {
    color: red;
}
h1 {
    
    background-color: plum;
}
header{
    background-color: gray;
}
footer {
    background-color: grey;
}
